main {
  min-height: 80vh;
}

footer {
  background: #eee;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1rem;
  padding: 0.5rem 0;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.size-btn {
  /* border: 2px solid #415dcf; */
  border: 2px solid #333a40;
  background: transparent;
  min-width: 50px;
  height: 50px;
  margin: 4px;
}
.size-btn:hover {
  background: #333a40;
  color: #fff;
}

.btn-brand {
  min-width: 225px;
  padding: 6px;
  background: #333a40;
  color: #fff;
  border: 3px solid #333a40;
}
.btn-brand[disabled]:hover {
  background: #333a40;
  border: 3px solid #333a40;
}
.btn-brand:hover {
  background: #41515c;
  border: 3px solid #41515c;
}

.select-size input {
  display: none;
}

.size-label {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  border: 2px solid #333a40;
  background: transparent;
  min-width: 50px;
  height: 50px;
  margin: 4px;
}

#small:checked ~ label[for='small'],
#medium:checked ~ label[for='medium'],
#large:checked ~ label[for='large'],
#xlarge:checked ~ label[for='xlarge'] {
  background: #333a40;
  color: #fff;
}

#small[disabled] ~ label[for='small'] {
  opacity: 0.2;
}
#medium[disabled] ~ label[for='medium'] {
  opacity: 0.2;
}
#large[disabled] ~ label[for='large'] {
  opacity: 0.2;
}
#xlarge[disabled] ~ label[for='xlarge'] {
  opacity: 0.2;
}

/* carousel */
.carousel {
  text-align: center;
  /* background-color: #eee; */
}
.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item-next {
  color: #333;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
  padding: 10px;
  box-sizing: border-box;
}

.carousel-caption h2 {
  color: #333;
}

.carousel img {
  height: 300px;
  padding: 40px;
  margin: 40px;
}
.carousel a {
  margin: 0 auto;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  filter: invert(100%);
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

@media (max-height: 736px) {
  main {
    margin-bottom: 200px;
  }
}

@media (min-height: 300px) and (max-height: 600px) {
  main {
    margin-bottom: 500px;
  }

  footer {
    margin-top: 40vh;
  }
}

.showcase {
  display: flex;
  align-items: center;
  justify-content: center;
}
.showcase img {
  width: 100vw;
  height: 80vh;
  z-index: 1;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 3px;
}

.social-icons li {
  list-style: none;
  margin: 0 8px;
}

.social-icons li a {
  color: #4637cf;
  font-size: 36px;
}
